.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    background-color : cadetblue
}

.text {
    text-align : left
       
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f5f5dc
}

.back {
}

.continue {
}

.colorofitems {
    background-color: #f0ffff
}

.colorofslider {
    background-color: lightsteelblue
}

